body {
  background-color: #2b2a2a;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  padding: 50px;
}
/*/dropdown/*/

select {
  background: #2B2A2A;
  border: 3px solid #f8bb46;
  width: 350px;
  font-size: large;
  color: white;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
/title/
.title{
  display: block;
  border-radius: 0;
  white-space: normal;
  color: #f8bb46;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}

/Add-item/
button{
  height: 20px;
  width: 150px;
  background-color: red;

}
.btn_add_plus{
  border: 1px solid #f8bb46;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 18px;
  background-color: transparent;
}
.btn_add{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;

}
/*/left side/*/
.left_side {
  width: 600px;
  padding: 70px;
}
.check {
  margin-top: 20px;
  border-top: 1px solid yellow;
  width: 100%;
}
.check_text {
  padding: 15px;
}

/*/right side/*/
/*/Burger image/*/
.burger_image {
  position: relative;
  padding: 0 235px;
  justify-content: center;
  margin-bottom: 10px;
}
.burger_meat_image {
  position: relative;
  padding: 0 235px;
  justify-content: center;
  margin-bottom: 10px;
}

img {
  width: 250px;

}
.image_description {
  position: absolute;
  font-family: "Pattaya", sans-serif;
  color: #f8bb46;
  font-size: 36px;
  width: 150px;
  text-transform: lowercase;

  left: 0;
  top: 35px;
  text-align: right;
}
.burger_image_before:before {
  content: "";
  position: absolute;
  top: 39px;
  left: 170px;
  height: 70px;
  width: 200px;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 61px;
}
.burger_image_after:after{
  content: "";
  position: absolute;
  top: 19px;
  right: -95px;
  height: 70px;
  width: 200px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 61px;
}

.burger_item_meat {
  display: flex;
  flex-direction: column;
}
